.App-header {
  background-color: black;
  min-height: 100vh;
  background-image: url(https://www.spacex.com/static/images/backgrounds/f9_feature.webp);
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotate3d(0, 0, 0.75, 0deg);
  position: absolute;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-box{
  color: white;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  margin-bottom: 275px;
  letter-spacing: -5px;
  flex-direction: column;
}

.main-box h1{
  margin-bottom:10px;
  font-weight: 700;
}

.bottom{
  font-size: 20px;
  margin-top: 0;
  letter-spacing: 0px;
  font-weight: 250;
}
